<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Administration Console</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")
                                @if (HttpContext.Current.IsDebuggingEnabled) {
                                    if (TempData.ContainsKey("ClearCache"))
                                    {
                                        <br />@TempData["ClearCache"];
                                    }
                                }
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Gloves", "Index", "Glove")</li>
                            <li>@Html.ActionLink("Materials", "Index", "Material")</li>
                            <li>@Html.ActionLink("Applications", "Index", "Application")</li>
                            <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
                            <li>@Html.ActionLink("Configs", "Index", "Config")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - SHANGYUE TRADING LIMITED</p>
                </div>
            </div>
        </footer>
       
        @RenderSection("scripts", required: false)
    </body>
</html>
