<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>@ViewBag.Title 
        @if (HttpContext.Current.IsDebuggingEnabled) {
            @DateTime.Now.ToLongTimeString()
        }
    </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/pluginsCss")
    @Styles.Render("~/Content/css")

@*    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">*@
</head>
<body>
    <p class="hidden-phone"></p>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">SHANGYUE Trading</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li @(ViewBag.Title == "Home Page" ? "class=active" : "")>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li @(ViewBag.Title == "Gloves" ? "class=active" : "")>@Html.ActionLink("Gloves", "Index", "Glove")</li>
                    <li @(ViewBag.Title == "About" ? "class=active" : "")>@Html.ActionLink("About", "About", "Home")</li>
                    <li @(ViewBag.Title == "Contact" ? "class=active" : "")>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <!-- Begin page content -->
      @RenderBody()

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/Images/contact.png" />&nbsp;&nbsp;00852-28113620
            </div>
            <div class="span1 hidden-phone">
                &nbsp;
            </div>
            <div class="span2 hidden-phone">
                <p>
                   @Html.ActionLink("About Us", "About", "Home")
                </p>
            </div>
            <div class="span2 hidden-phone">
                <p>
                    Privacy Policy
                </p>
            </div>
            <div class="span2 hidden-phone">
                <p>
                    Terms & Conditions
                </p>
            </div>
            <div class="span1 hidden-phone">

            </div>
            <div class="span2">
                <p>&copy; @DateTime.Now.Year - SYTrading </p>
            </div>
        </div>
      </div>
    </div>

    @RenderSection("scripts", required: false)
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/pluginsJS")
    <script>
        // When ready...
        window.addEventListener("load", function () {
            // Set a timeout...
            setTimeout(function () {
                // Hide the address bar!
                window.scrollTo(0, 1);
            }, 0);
        });
    </script>
</body>
</html>
