<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/pluginsCss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/pluginsJS")

    @Styles.Render("~/Content/css")

@*    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">*@
</head>
<body>

    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">SHANGYUE Trading</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li @(ViewBag.Title == "Home Page" ? "class=active" : "")>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li @(ViewBag.Title == "Gloves" ? "class=active" : "")>@Html.ActionLink("Gloves", "Index", "Glove")</li>
                    <li @(ViewBag.Title == "About" ? "class=active" : "")>@Html.ActionLink("About", "About", "Home")</li>
                    <li @(ViewBag.Title == "Contact" ? "class=active" : "")>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <!-- Begin page content -->
      @RenderBody()

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/Images/contact.png" />&nbsp;&nbsp;00852-28113620
            </div>
            <div class="span1">
                &nbsp;
            </div>
            <div class="span2">
                <p>
                   @Html.ActionLink("About Us", "About", "Home")
                </p>
            </div>
            <div class="span2">
                <p>
                    Privacy Policy
                </p>
            </div>
            <div class="span2">
                <p>
                    Terms & Conditions
                </p>
            </div>
            <div class="span1">

            </div>
            <div class="span2">
                <p>&copy; @DateTime.Now.Year - SYTrading </p>
            </div>
        </div>
      </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
